* {
  margin: 0;
  padding: 0;
}

body {
  background: #0A0C13;
  font-family: 'Work Sans', sans-serif;
  color: #fff;
  line-height: 110%;
}

p {
  font-size: 23px;
  line-height: 125%;
  letter-spacing: 0.2px;
  font-weight: 200;
}



.row {
  width: 100%;
  float: left;
  position: relative;
}

.container {
  width: 784px;
  margin: 0 auto;
}

.row.main {
  overflow: hidden;
  padding-bottom: 40px;
}

.main-bg {
  width: 100%;
  position: absolute;
  z-index: -555;
  left: 0;
  opacity: .2;
}

.logo {
  height: 24px;
  margin: 64px 0 32px 0;
}


.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero p {
  width: 303px;
}

.banner img {
  height: 280px;
}

.hero div {
  position: relative;
}

#love {
  position: absolute;
  top: 20px;
  left: 8px;
  width: 25%;
}


.tools {
  height: 24px;
  margin: 96px 0 104px 0;
}

.tools img {
  width: 100%;
}

.first .section img,
.second .section img {
  width: 100%;
  border-radius: 20px;
}

.projects.first,
.projects.second {
  display: flex;
  align-items: center;
}

.first .section p {
  font-size: 18px;
}

.first .section.one,
.first .section.two {
  display: flex;
  width: 240px;
}

.first .section.three {
  width: 230px;
  margin-right: 0;
  margin-left: 16px;
}

.first .section.three {
  text-align: left;
  opacity: .65;
}



.second .section.one {
  width: 384px;
}

.second .section.two {
  width: 262px;
}

.second .section.three {
  width: 106px;
  position: relative;
}
img.hover{
  position: absolute;
  width: 50% !important;
  left: 25%;
  top: 32%;
  opacity: 0;
}
a:hover img.hover{
  opacity: 1;
}

.section.one,
.section.two,
.section.three {
  margin-right: 16px;
  margin-bottom: 16px;
}

.section {
  position: relative;
  text-align: center;
}

.section span {
  position: absolute;
  left: 24px;
  bottom: 16px;
  color: rgba(0, 0, 0, .6);
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  transition: .2s all ease-in-out;
}

a,
a img {
  transition: .2s all ease-in-out;
}

a:hover img {
  opacity: .15;
}

a:hover span {
  color: #fff;
  bottom: 26px;
}


.bio {
  width: 580px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  position: relative;
}

.bio img {
  width: 100px;
  margin-right: 32px;
}

.bio p {
  font-size: 18px;
  margin-bottom: 16px;
  font-weight: 200;
  line-height: 125%;
  color: #C2C2C4;
}

.connect {
  display: flex;
}

.connect a {
  text-decoration: none;
  color: #C2C2C4;
  border: 2px solid #3A3A3F;
  border-radius: 40px;
  padding: 8px 14px;
  font-size: 13px;
  margin-right: 4px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  top: 0;
}


img.footer-bg {
  width: 100%;
  position: absolute;
  z-index: -9999;
  bottom: -360px;
  opacity: .6;
  left: -200px;
}

.footer-img {
  margin: 72px auto;
  display: flex;
}


.connect a:hover {
  background-color: #00DBDE;
  background-image: linear-gradient(45deg, #00DBDE 0%, #FC00FF 100%);
  color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  top: -2px;
}

.connect a.mail:hover {
  background-color: #F4D03F;
  background-image: linear-gradient(132deg, #FFA700 0%, #16A085 100%);
}

.connect a.insta:hover {
  background-color: #FBDA61;
  background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
}

.mob {
  display: none;
}

.logoContainer {
  width: 100%;
  text-align: left;
}

.logoContainer .logo {
  width: auto;
  margin: 64px auto;
  margin-bottom: 32px;
  border-radius: 0px !important;
}

.interaction {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.interaction video,
.interaction img {
  width: 48%;
  margin: 2px;
  border-radius: 20px;
}

.homeLink {
  width: 100%;
  text-align: center;
  float: left;
  margin: 32px 0;
}


video.intro {
  width: 96%;
}

img.intro {
  width: 96%;
}

.homeLink a {
  color: #00AADE;
  font-size: 14px;
}

/* ========================================= */



@media only screen and (max-width: 899px) {
  .container {
    width: 85%
  }

  .banner,
  .hero-copy {
    width: 50%;
  }

  .hero-copy p {
    width: auto;
    padding-right: 24px;
  }

  .banner img {
    width: 90%;
    height: auto;
  }

  .tools {
    margin: 80px 0 88px 0;
  }

}


@media only screen and (max-width: 699px) {
  p {
    font-size: 20px;
  }

  .hero-copy p {
    padding-right: 16px;
  }

  .projects.first,
  .projects.second {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .first .section.one,
  .first .section.two {
    width: 48%;
    margin-right: 0;
  }

  .second .section.one,
  .second .section.two {
    width: 48%;
    margin-right: 0;
  }

  .bio {
    width: 90%;
  }

  .bio p {
    font-size: 16px;
  }

  .copy {
    display: flex;
    flex-direction: column;
  }

  .copy .connect {
    display: flex;
    flex-direction: column;
  }

  .copy .connect a {
    margin-bottom: 8px;
  }

  .tools {
    margin: 40px 0 48px 0;
  }

  .footer-img {
    width: 80%;
    margin: 56px auto;
  }


  .none {
    display: none;
  }

  .mob {
    display: flex;
  }

}



@media only screen and (max-width: 469px) {
  .bio {
    display: flex;
    flex-direction: column;
  }

  .bio img {
    margin-bottom: 12px;
  }

  .footer-img {
    width: 95%;
    margin: 40px auto;
  }
}

.hero-copy a{
  text-decoration: none;
  color: #fff;
  opacity: .5;
  cursor: pointer;
  padding-right: 12px;
  font-size: 18px;
}

.hero-copy a:hover {
  opacity: 1;
}
