* {
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
}

body {
    background: #FAFBFC;
}

.row {
    width: 100%;
    float: left;
    position: relative;
}

.container {
    width: 904px;
    margin: 0 auto;
}


h1 {
    font-family: "Ibarra Real Nova", serif;
    font-weight: 400;
    font-size: 40px;
    font-style: italic;
    letter-spacing: -.8px;
}

p {
    font-family: "Inter", sans-serif;
}


.logo {
    width: 64px;
    margin-top: 52px;
    margin-bottom: 112px;
}

h1 {
    margin-bottom: 8px;
}

h1 span {
    font-family: "Bricolage Grotesque", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 41px;
}

.container.hero {
    text-align: center;
}

.container .hero-image {
    width: 100%;
    margin-bottom: 128px;
}

p.caption {
    opacity: .45;
    margin-bottom: 96px;
}





h2 {
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 34px;
    font-weight: 200;
    letter-spacing: -.8px;
    margin-bottom: 20px;
}

h2 span {
    font-family: "Ibarra Real Nova", serif;
    font-size: 38px;
    font-style: italic;
    font-weight: 600;
    letter-spacing: -.5px;
}

.about p {
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: -.2px;
    padding: 0 160px;
    margin-bottom: 24px;
    color: rgba(0, 0, 0, .65);
}
.about p a {
    background: linear-gradient(
        to right,
        #01040b 20%,
        #CDCEDC 50%,
        #CDCEDC 70%,
        #01040b 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
    display: block;
    padding-top: 16px;
    padding-bottom: 12px;
    font-weight: 600;
    font-family: "Bricolage Grotesque", sans-serif;
    transition: all ease-in-out .3s;
    opacity: 1;
    position: relative;
    text-decoration: none;
    top: 0;
}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
.about p a:hover{
    opacity: .8;
    top: -2px;
}

.about img {
    width: 60%;
    padding: 0 8px;
    margin-bottom: 120px;
}

.works {
    display: flex;
    width: 790px;
    justify-content: space-between;
    height: 341px;
    margin: 0 auto;
    margin-bottom: 16px;
}

.works a {
    width: 32.5%;
    height: 341px;
    background: #000;
    transition: all ease-in-out .2s;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    transition: all ease-in-out .2s;
    z-index: 15;
}

.works a img {
    width: 100%;
    border-radius: 16px;
    transition: all ease-in-out .2s;
}

.works a span {
    font-family: "Bricolage Grotesque", sans-serif;
    font-style: normal;
    font-weight: 800;
    position: absolute;
    bottom: 16px;
    z-index: 9;
    font-size: 20px;
    left: 16px;
    text-align: left;
    color: #fff;
    transition: all ease-in-out .2s;
}


.works a:hover {
    top: -2px;
    transition: all ease-in-out .2s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.works a:hover img {
    opacity: .5;
}










.cases {
    width: 790px;
    margin: 0 auto;
    margin-bottom: 120px;
}



.cases a:hover {
    top: -2px;
    transition: all ease-in-out .2s;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.cases a:hover h3 {
    color: #3348FF;
}

.cases a {
    display: flex;
    width: 100%;
    padding: 32px 56px;
    background: #fff;
    border-radius: 16px;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    transition: all ease-in-out .2s;
    text-decoration: none;
    color: #000;
    border: 1px solid #f4f4f4;
}

.cases a img {
    width: 80px;
    border-radius: 14px;
}

.cases a div {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 32px;
}

.cases a div span {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    padding-bottom: 12px;
    opacity: .5;
}

.cases a div h3 {
    font-family: "Bricolage Grotesque", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 1.2;
}
.cases p{
    font-size: 14px;
    opacity: .8;
    line-height: 1.3;
}
.cases p a{
    padding: 0;
    background: none;
    display: unset;
}
.cases p a:hover{
    opacity: 0.5;;
    top: 0;
}

.photography {
    display: flex;
    background: #F1F2F2;
    padding: 12px;
    flex-direction: column;
    border-radius: 22px;
    margin-bottom: 72px;
}

.photography div {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
}

.photography a {
    font-family: "Bricolage Grotesque", sans-serif;
    text-decoration: none;
    color: #000;
    margin-bottom: 12px;
}

.photography a:hover {
    color: #3348FF;
}

.photography div img {
    width: 210px;
    border-radius: 16px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 24px;
}

.footer p {
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -.5px;
}

.footer p span {
    font-family: "Ibarra Real Nova", serif;
    font-size: 26px;
    font-style: italic;
    letter-spacing: -.5px;
}

.footer p.links {
    font-size: 16px;
}

.footer p.links a {
    margin: 0 8px;
    font-weight: 100;
    text-decoration: none;
    color: #000;
}

.footer p.links a:hover {
    color: #3348FF;
}
.homeLink{
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;
    font-family: "Bricolage Grotesque", sans-serif;
    color:#000;
    padding: 20px;
    transition: all ease-in-out .3s;
}
.homeLink:hover{
    opacity: .6;
}

/* ------------------------------- */
.shots img {
    width: 80%;
    margin-bottom: 4px;
}

.hero-inner {
    text-align: center;
}

.hero-inner .logo {
    margin-bottom: 64px;
}

.half,
img.half {
    width: 48%;
}



/* =============================== */

@media only screen and (max-width: 920px) {
    .container {
        width: 85%;
    }

    .about p {
        padding: 0 60px;
    }

    .about img {
        width: 75%;
        opacity: .7;
    }

    .works {
        width: 100%;
        height: auto;
    }

    .works a {
        height: auto;
        display: flex;
    }

    .works a img {
        width: 100%;
        text-align: center;
    }

    .photography div img {
        width: 24%;
    }

    .cases {
        width: 100%;
    }
}


@media only screen and (max-width: 860px) {
    .about p {
        padding: 0 32px;
    }

    .photography div img {
        width: 24%;
    }
}

@media only screen and (max-width: 629px) {
    .cases a {
        padding: 28px;
    }

    .about img {
        width: 85%;
    }

    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer p {
        margin-bottom: 12px;
    }
}

@media only screen and (max-width: 539px) {
    .works a span {
        font-size: 18px;
    }

    .about p {
        padding: 0 16px;
    }

    .cases a div {
        padding-left: 20px;
    }

    .cases a div h3 {
        font-size: 18px;
    }

}

@media only screen and (max-width: 460px) {
    .works a span {
        font-size: 15px;
        left: 10px;
    }
}
